<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <style>
        .image-container {
            text-align: center; /* Center-align contents */
        }
        .image-container img {
            vertical-align: middle; /* Vertically align images */
            margin: 10px; /* Adjust as needed for space between images */
        }
    </style>
    <div class="hero-body">
        <div class="container">
            <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                <div class="image-container">
                    <figure>
                        <img src="assets/images/lab_pic_2504.jpg" style="max-width: 700px;">
                        <figcaption style="font-style: italic;">BIMSB, April 2025</figcaption>
                    </figure>
            </div>
            </br>
            </br>
                <h1 class="subtitle has-text-black-bis is-uppercase has-text-weight-bold is-marginless">
                    The lab
                </h1>
                <p>
                    We are an international and interdisciplinary team (biologists, biochemists, bioinformaticians,
                    physicists, ...) and communication is key.
                    <a href="{{site.url}}{{site.baseurl}}/team">Meet the team.</a>
                </p>
                </br>
                <h1 class="subtitle has-text-black-bis is-uppercase has-text-weight-bold is-marginless">
                            Research interests and approaches
                </h1>
                <p>How do our genes interact to create the bewildering diversity of cell types,
                    tissues, and organs? Can we identify perturbations of these interactions that
                    cause or drive the onset of diseases? And how can we predict and target early disease
                    trajectory for therapy before symptoms appear?
                </p>
                </br>
                <p>To answer these questions, we pursue, for 20 years, a strongly interdisciplinary
                    approach by integrating biochemistry, molecular biology, and data sciences. 
                    We are mainly working with patient samples (numerous collaboration with the 
                    Charité hospital Berlin) and patient-derived organoids. Our research questions
                    often require us to develop or apply new methods to quantify how cells read 
                    and interpret the book of life (the genome) in health and in disease. 
                    We use data sciences (including machine learning) and our brains to interpret 
                    these data and to make predictions about mechanisms which we then test 
                    directly in the lab. A long-standing special interest of the lab is to 
                    understand the function of the non-coding genome/RNA (miRNAs, circRNAs, 
                    long-non-coding RNAs, ...).
                </p>
                </br>
                <p>Diseases currently studied in the lab: Cancer (Triple negative breast cancer, 
                    non-small cell lung cancer, neuroblastoma), Neurodegenerative diseases and 
                    impact of infections on brain development. How do our genes interact to 
                    create the bewildering diversity of cell types, tissues, and organs? Can we 
                    identify perturbations of these interactions that cause or drive the onset 
                    of diseases? And how can we predict and target early disease trajectory for 
                    therapy before symptoms appear?
                    <a href="{{site.url}}{{site.baseurl}}/project">Read more about our research.</a>
                </p>
                <br>
                <h1 class="subtitle has-text-black-bis is-uppercase has-text-weight-bold is-marginless">
                    Jobs
                </h1>
                <p>We are always looking for skilled people!</p>
            </br>
                <p>Whether your weapon of choice is pipette or keyboard (or both): if you have the 
                    impression that this lab is doing interesting research that you would like to contribute 
                    to, do not hesitate to contact us.</p>
                </br>
                <p>If you are able to (and enjoy) discussing your work with people from other disciplines 
                    this lab may be just right!</p>
                <!-- <div class="container columns is-centered">
                    <div>
                        <a href="{{site.url}}{{site.baseurl}}/#contact"
                            class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                            Me</a>
                        </a>
                    </div>
                    <div>
                        <a href="{{site.url}}{{site.baseurl}}/blog"
                            class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Blog</a>
                        </a>
                    </div>
                </div> -->
            </div>
        </div>
</section>