<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container">
            {% unless site.twitter_username == %}
            <a id="contact-button" href="https://www.twitter.com/intent/tweet?screen_name={{site.twitter_username}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fab fa-twitter"></i>Tweet me on Twitter
            </a>
            {% endunless %}
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                </div>
                <div class="column is-two-fifths-desktop is-two-fifths-tablet is-two-fifths-fullhd">
                    {% unless site.email == %}
                    <a id="contact-button" href="mailto:{{site.email}}"
                        class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                        target="_blank">
                        <i class="fas fa-envelope"></i>Get in touch
                    </a>
                    {% endunless %}
                </br>
                    <p class="has-text-black has-text-left-desktop">
                        <a href="https://g.page/MDC-BIMSB?share">Hannoversche Str. 28, 10115 Berlin</a> <br>
                        Phone +49 30 9406 2999 (Alex Tschernycheff, Secretary) <br>
                        Fax +49 30 9406 3868
                    </p>
                    <br>
                    <p class="has-text-black has-text-left-desktop"> 
                        We are located within a few minutes walk from several public transport stations, such as Oranienburger Tor, Oranienburger Straße, and only one stop away from the public transport hub Friedrichstraße. From Oranienburger Straße, the train S2 connects us directly to the MDC Campus in Berlin-Buch.
                    </p>
                    <br>
                    <p class="has-text-black has-text-left-desktop">
                        S-Bahn: S2 (to MDC Berlin-Buch) and S1, S25, S26 <br>
                        U-Bahn: U6<br>
                        Tram: M1, M5, 12<br>
                        Bus: 142
                    </p>
                </div>
            </div>

            <div class="column is-full is-size-3">
                {% unless site.facebook_username == %}
                <a href="http://www.facebook.com/{{site.facebook_username}}" target="_blank" class="has-text-black"><i class="fab fa-facebook"></i></a>
                {% endunless %}
                {% unless site.twitter_username == %}
                <a href="https://twitter.com/intent/user?screen_name={{site.twitter_username}}" target="_blank" class="has-text-black"><i class="fab fa-twitter"></i></a>
                {% endunless %}
                {% unless site.instagram_username ==  %}
                <a href="http://www.instagram.com/{{site.instagram_username}}" target="_blank" class="has-text-black"><i class="fab fa-instagram"></i></a>
                {% endunless %}
                {% unless site.linkedin_username ==  %}
                <a href="http://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank" class="has-text-black"><i class="fab fa-linkedin"></i></a>
                {% endunless %}
                {% unless site.github_username ==  %}
                <a href="http://www.github.com/{{site.github_username}}" target="_blank" class="has-text-black"><i class="fab fa-github"></i></a>
                {% endunless %}
                {% unless site.youtube_channel_id ==  %}
                <a href="http://www.youtube.com/channel/{{site.youtube_channel_id}}" target="_blank" class="has-text-black"><i class="fab fa-youtube"></i></a>
                {% endunless %}
                {% unless site.reddit_username ==  %}
                <a href="http://www.reddit.com/u/{{site.reddit_username}}" target="_blank" class="has-text-black"><i class="fab fa-reddit"></i></a>
                {% endunless %}
                {% unless site.behance_username ==  %}
                <a href="http://www.behance.com/{{site.behance_username}}" target="_blank" class="has-text-black"><i class="fab fa-behance"></i></a>
                {% endunless %}
                {% unless site.dribbble_username ==  %}
                <a href="http://www.dribbble.com/{{site.dribbble_username}}" target="_blank" class="has-text-black"><i class="fab fa-dribbble"></i></a>
                {% endunless %}
                {% unless site.spotify_username ==  %}
                <a href="http://open.spotify.com/user/{{site.spotify_username}}" target="_blank" class="has-text-black"><i class="fab fa-spotify"></i></a>
                {% endunless %}
            </div>
        </div>
    </div>
</section>
