<div;>
  </br>
  <div class="columns is-centered is-multiline is-mobile">
    {% for team-member in site.data.team-members %}
      <div class="column has-text-centered is-paddingless is-one-third-widescreen is-one-third-desktop is-one-fifth-fullhd is-one-third-tablet is-two-fifths-mobile is-three-quarters-touch"
        id="team-member-card">
        <a href="{{ '/team/' | append: team-member.name | downcase | replace: ' ', '-' | append: '.html' }}">
        <div class="has-background-black card">
          <figure class="image is-4by5" style="background-image: url({{team-member.image}});">
          <!-- <div class="card-content"> -->
            <div class="overlay">
              <h4 class="title has-text-white is-size-6">{{ team-member.keywords }}</h2>
            </div>
          </figure>
          <div style="color: white;">
          {{ team-member.name }}
          </br>
          {{ team-member.position }}
          </div>
        </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>