---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>
<div style="background-color: rgb(246, 246, 246);">
<body>
    {% include navbar.html %}

    <!--Main Section-->
    <section class="hero is-fullheight" id="team">
        <div class="hero-body">
            <div class="container has-text-centered">
                <!-- <div class="section">
                    <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">Team</p>
                </div> -->
                {% include team-member-card.html %}
            </div>
        </div>
        <div style="padding-left: 50px;">
            <hr>
            <h1 class="subtitle has-text-black-bis is-uppercase has-text-weight-bold is-marginless">
                Former members
            </h1>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </div>
    </section>
    </div>

    <!--Footer-->
    {% include footer.html %}
</body>
</div>

</html>