---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>
<div style="background-color: rgb(246, 246, 246);">
<body>
    {% include navbar.html %}

    <!--Main Section-->
    <section class="hero is-fullheight" id="team">
        <div class="hero-body">
            <div class="container has-text-centered">
                <!-- <div class="section">
                    <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">Team</p>
                </div> -->
                {% include team-member-card.html %}
            </div>
        </div>
        <div style="padding-left: 50px;">
            <hr>
            <h1 class="subtitle has-text-black-bis is-uppercase has-text-weight-bold is-marginless">
                Former members
            </h1>
            <li><b>Ilan Theurillat</b> was a Postdoctoral Researcher</li>
            <li><b>Lieke van de Haar</b> was a Postdoctoral Researcher</li>
            <li><b>Mohammad Zardbani</b> was a Postdoctoral Researcher</li>
            <li><b>Enes Senel</b> was a PhD Student. Current: Senior Scient at J&J Innovative Medicine.</li>
            <li><b>Seung Kim</b> was a PhD Student</li>
            <li><b>Tamas Ryszard Sztanka-Toth</b> was a PhD Student. Current: Principal Scient at J&J Innovative Medicine.</li>
            <li><b>Haiyue Liu</b> was a PhD Student</li>
            <li><b>Agnieszka Rybak-Wolf</b> was a Postdoctoral Researcher. Current: Independent Head of the MDC Technology Platform "Organoids".</li>
            <li><b>Jonathan Alles</b> was a PhD Student.</li>
            <li><b>Ivano Legnini</b> was a Postdoctoral Researcher. Current: Group Leader, Human Technopole, Mailand, Italy.</li>
            <li><b>Petar Glažar</b> was a PhD Student and Postdoctoral Researcher. Current: Postdoc at MPI Molecular Genetics, Aktas lab.</li>
            <li><b>Jonathan Fröhlich</b> was a PhD Student.</li>
            <li><b>Aristotelis Misios</b> was a PhD Student.</li>
            <li><b>Samantha Praktiknjo</b> was a Postdoctoral Researcher. Current: Scientist at Berlin Institute for Health.</li>
            <li><b>Marcel Schilling</b> was a PhD Student.</li>
            <li><b>Janis Hötzel</b> was a PhD Student.</li>
            <li><b>Monika Piwecka</b> was a Postdoctoral Researcher. Current: Independent Group Leader at Institute of Bioorganic Chemistry, Polish Academy of Science, Poznan.</li>
            <li><b>Mireya Plass Pórtulas</b> was a Postdoctoral Researcher. Current: Independent Group Leader at Institut d'Investigació Biomédica de Bellvitge (IDIBELL) and Clinical Translation of Regenerative Medicine of Catalonia (P-CMR[C]), Barcelona, Spain.</li>
            <li><b>Christin Sünkel (née Stottmeister)</b> was a PhD Student. Current: Technical Project Analyst, Lonza, Basel.</li>
            <li><b>Kathrin Theil</b> was a PhD Student. Current: Scientist at Labor Berlin – Charité Vivantes.</li>            
            <li><b>Panagiotis Papavasileiou</b> was a PhD Student.</li>            
            <li><b>Christine Kocks</b> was a Senior Scientist.</li>
            <li><b>Vera Zywitza</b> was a PhD Student. Current: Postdoc at MDC Pluripotent Stem Cell Platform.</li>            
            <li><b>Sebastian Memczak</b> was a PhD Student and Postdoctoral Researcher. Current: Postdoc at Salk Institute, Belmonte lab.</li>
            <li><b>Benedikt Obermayer</b> was a Postdoctoral Researcher. Current: Bioinformatician at BIH Core Unit Bioinformatics, Berlin.</li>
            <li><b>Andrei Filipchyk</b> was a PhD Student. Current: Application Expert, Evotec.</li>
            <li><b>Marta Rodriguez-Orejuela</b> was a PhD Student.</li>
            <li><b>Luisa Schreyer</b> was a Technical Assistant.</li>
            <li><b>Jordi Solana Garcia</b> was a Postdoctoral Researcher. Current: Independent Group Leader at Oxford Brookes University, Oxford, UK.</li>
            <li><b>Filippos Klironomos</b> was a Postdoctoral Researcher. Current: Bioinformatics Data Scientists, Nuvisan Pharma services.</li>
            <li><b>Catherine Adamidi</b> was a Senior Scientist.</li>
            <li><b>Kevin Chen</b> was a Postdoctoral Researcher. Current: Professor at Rutgers University.</li>            
            <li><b>Antigoni Elefsinioti</b> was a Postdoctoral Researcher.</li>
            <li><b>Marc Friedländer</b> was a PhD Student and Postdoctoral Researcher. Current: Associate Professor at Stockholm University.</li>
            <li><b>Stefanie Grosswendt</b> was a PhD Student. Current: now Junior Group leader at MDC, BIH, Charité.</li>
            <li><b>Dominic Grün</b> was a Postdoctoral Researcher. Current: W3 Professor at University Würzburg.</li>
            <li><b>Andranik Ivanov</b> was a PhD Student. Current: Bioinformatician at BIH Core Unit Bioinformatics, Berlin.</li>
            <li><b>Anna-Carina Jungkamp</b> was a PhD Student. Current: Federal Chancellery.</li>
            <li><b>Toshiaki Kogame</b> was a PhD Student.</li>
            <li><b>Azra Krek</b> was a PhD Student.</li>
            <li><b>Svetlana Lebedeva</b> was a PhD Student.</li>
            <li><b>Jonas Maaskola</b> was a PhD Student.</li>
            <li><b>Sebastian Mackowiak</b> was a PhD Student.</li>
            <li><b>Pinar Önal</b> was a PhD Student. Current: Professor, BILKENT University, Ankara, Turkey.</li>
            <li><b>Lena von Oertzen</b> was a Technical Assistant.</li>
            <li><b>Marlon Stoeckius</b> was a PhD Student and Postdoctoral Researcher.</li>
            <li><b>Nadine Thierfelder</b> was a PhD Student. Current: Medical Advisor at Besins Healthcare Germany.</li>
            <li><b>Francesca Torti</b> was a PhD Student.</li>
            <li><b>Ulrike Ziebold</b> was a Postdoctoral Researcher.</li>
            <li><b>Minnie Zhou Fang</b> was a Postdoctoral Researcher. Current: CTO at Wuxi Diagnostics, Shanghai, China.</li>
        </div>
    </section>
    </div>

    <!--Footer-->
    {% include footer.html %}
</body>
</div>

</html>