---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    {% include navbar.html %}

    <!--Main Section-->
    <section class="hero is-fullheight" id="team">
        <div class="hero-body">
            <div class="container has-text-centered">
                <!-- <div class="section">
                    <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">Team</p>
                </div> -->
                {% include team-member-card.html %}
            </div>
        </div>
        <div style="padding-left: 50px;">
            <hr>
            <h1>Former members</h1>
        </div>
    </section>
    </div>

    <!--Footer-->
    {% include footer.html %}
</body>

</html>